<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreditoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52349/CreditoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditoService"
                contract="CreditosTestWS.ICreditoService" name="BasicHttpBinding_ICreditoService" />
        </client>
    </system.serviceModel>
</configuration>